version: '3.8'

services:
  ai-server:
    build: .
    container_name: ai-server
    ports:
      - "8000:8000"
    restart: always
    
    env_file: .env

    # FastAPI 서버가 Redis에 접근할 수 있도록 같은 네트워크 사용
    networks:
      - ai-network

networks:
  ai-network:
    driver: bridge
