@font-face {
  font-family: 'memomentKkukkuk';
  src: url('/fonts/memomentKkukkkuk.ttf') format('truetype');
  font-style: normal;
  font-style: normal;
}

:root {
  /*라이트모드만 지원*/
  color-scheme: light;
  /* 타이포그래피 */
  --font-family-primary: 'memomentKkukkuk';
  /* 색상 (피그마 기준) */
  --color-main: #F9E65C; /* Main 컬러 */
  --color-second: #5DADE2; /* Second 컬러 */
  --color-third: #58D68D; /* Third 컬러 */
  --color-fourth: #FF914D; /* Fourth 컬러 */
  
  --color-text-dark: #4F4F4F;
  --color-text-light: #FFFFFF;
  --color-background-light: #F8F9FA;
  --color-background-white: #FFFFFF;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; 
  height: 100dvh; 
  overscroll-behavior: none; 
}

#root {
  height: 100%; 
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-primary); 
  color: var(--color-text-dark);         
  background-color: var(--color-background-light);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  padding-left: calc(20px + env(safe-area-inset-left));
  padding-right: calc(20px + env(safe-area-inset-right));
}

.app-container {
  width: 100%;
  aspect-ratio: 16 / 9;     
  max-width: 640px;                              

  background-color: var(--color-main);        
  position: relative;
  overflow: hidden;                          
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  border-radius: 10px;                       
}

*::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important; 
  -webkit-appearance: none; 
}

*::-webkit-scrollbar-track {
  background: var(--color-text-light) !important; 
  border: 2px solid var(--color-text-dark) !important;
  border-radius: 10px !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-main) !important;
  border-radius: 10px !important;
  background-clip: padding-box !important;
  border: 4px solid transparent !important;
}